* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
html, body, #root, .root-inner {
  height: 100%;
}

.root-inner {
  display: flex;
  flex-direction: column;
}


@import "includes/fonts";
@import "includes/vars";

.container {
  max-width: 1024px;
  display: block;
  margin: auto;
}
.header {
  margin-bottom: 5px;
  background: $secondary;
  flex: 0 1 auto;
}
.header__content {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.header__online {
  font: 400 16px $roboto;
  color: $light;
}

.header__logout-link {
  font: 400 16px $roboto;
  color: $light;
  cursor: pointer;
}
.main {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 100%;
}
.left-panel {
  width: 250px;
  height: 100%;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}
.left-panel__tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.left-panel__tab {
  font: 500 14px $roboto;
  padding: 10px 15px;
  width: 49%;
  color: $light;
  background: $secondarylight;
  cursor: pointer;
  text-align: center;
  &:hover, &.left-panel__tab_active {
    background: $secondary;
  }
}
.left-panel__tab_new {
  width: 100%;
}
.left-panel__userlist {
  width: 100%;
  // position: absolute;
}
.left-panel__user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px 15px;
  // height: 75px;
  background: $secondarylight;
  color: $light;
  margin-bottom: 5px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background: $secondary;
  }
}
.left-panel__user_online {
  background: $black;
}
.left-panel__users-name {
  font: 500 14px $roboto;
}
.left-panel__users-username {
  font: 300 14px $roboto;
}

.dialogs-anim-enter {
position: absolute;
  left: calc(-100% - 5px);
}
.dialogs-anim-enter.dialogs-anim-enter-active {
  left: 0;
  transition: .25s ease-out;
}
.dialogs-anim-leave {
  position: absolute;
  left: 0;
}
.dialogs-anim-leave.dialogs-anim-leave-active {
  left: -100%;
  transition: .25s ease-out;
}

.users-anim-enter {
  position: absolute;
  left: calc(100% + 5px);
}
.users-anim-enter.users-anim-enter-active {
  left: 0;
  transition: .25s ease-out;
}
.users-anim-leave {
  position: absolute;
  left: 0;
}
.users-anim-leave.users-anim-leave-active {
  left: 100%;
  transition: .25s ease-out;
}
.dialogs {
  width: 100%;
  height: calc(100% - 42px);
  overflow-y: auto;
}

.dialogs__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px 15px;
  height: 75px;
  background: $secondarylight;
  color: $light;
  margin-bottom: 5px;
  border-radius: 2px;
  cursor: pointer;
  &:hover, &.dialogs__item_active {
    background: $secondary;
  }
}

.dialogs__item-header {
  display: flex;
  justify-content: space-between;
}
.dialogs__dialogname {
  font: 500 14px $roboto;
}
.dialogs__time {
  font: 300 14px $roboto;

}
.dialogs__message-preview {
  font: 400 14px $roboto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.messages {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  margin-left: 5px;
  border: 1px solid $secondary;
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-bottom: 50px;
}
.messages__list-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.messages__input-wrapper {
  position: absolute;
  bottom: 0;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0px 5px 5px;
  // border: 1px solid black;
}
.messages__input {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  padding-right: 47px;
}

.messages__send-btn {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  font: 400 16px $roboto;
  color: $primary;
  height: 25px;
  line-height: 25px;
  width: 40px;
}

.btn {
  cursor: pointer;
  dialog-select: none;
  display: block;
  text-align: center;
}
.messages__list {
  overflow-y: auto;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
}
.messages__item {
  text-align: left;
  position: relative;
  display: inline-block;
  min-width: 200px;
  // max-width: 350px;
  max-width: 85%;
  padding: 10px;
  padding-top: 17px;
  margin: 20px 0;
  color: $light;
  font: 400 14px $roboto;
  // background: $secondarylight;
  background: #1F2421;
  border-radius: 5px;
  &:not(.messages__item_my)::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 15px;
    border-bottom: 20px solid #1F2421;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(-30deg);
  }
}
.messages__item-wrapper_my {
  text-align: right;
}
.messages__item_my {
  // background: $secondary;
  background: #2F664D;
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    right: 15px;
    border-bottom: 20px solid #2F664D;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(30deg);
  }
}
.messages__item-time {
  position: absolute;
  top: 5px;
  right: 5px;
  font: 300 12px $roboto;
}

.messages__placeholder {
  font: 500 14px $roboto;
  color: #FFF;
  background: $secondary;
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}
.footer {
  flex: 0 1 40px;
  background: $secondarylight;
  margin-top: 5px;
  font: 300 14px $roboto;
  line-height: 40px;
  text-align: center;
}
.footer__content {
  color: $light;
  display: flex;
  justify-content: center;
}
.footer__link {
  color: $light;

}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 25, 28, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $secondarylight;
  background: $secondary;
  border-radius: 2px;
  padding: 10px 15px;
  // box-shadow: 0px 5px 5px 5px rgba(24, 99, 95, 0.3);

}
.sign-in-popup__header {
  font: 14px $roboto;
  color: $light;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid $secondarylight;
  // margin-bottom: 10px;
}
.sign-in-popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 500 14px $roboto;
  color: $light;
  padding: 10px;
}
.sign-in-popup__row {
  padding: 10px 5px;
  label {
    padding-right: 5px;
  }
  input {
    border: 2px solid $secondarylight;
    font: 14px $roboto;
    padding: 5px;
    // background-color: $light;
  }
}
.sign-in-popup__sign-btn {
  width: 70px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px $light solid;
  border-radius: 2px;
  transition: 0.3s;
  box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: none;
  }
}
// .users__wrapper {
//   background: #FAFAFA;
//   border-radius: 5px;
//   overflow: hidden;
// }
// .users__header {
//   height: 30px;
//   font: 18px $roboto;
//   line-height: 30px;
//   color: $light;
//   text-align: center;
//   background: $secondary;
//   display: flex;
//   justify-content: space-between;
//   padding: 0 10px;
// }
// .users__close {
//   cursor: pointer;
// }
// .users__userlist {
//   width: 300px;
//   height: 500px;
//   max-height: 100%;
// }
// .users__item {
//   // width: 100%;
//   background: $primarylight;
//   border-radius: 10px;
//   padding: 5px 10px;
//   margin: 0 5px;
//   margin-top: 5px;
//   cursor: pointer;
//   &:last-child {
//     margin-bottom: 5px;
//   }
// }
// .users__item_online {
//   background: $primary;
//
// }
// .users__name {
//   font: 16px $roboto;
//
// }
// .users__username {
//   font: 14px $roboto;
// }
